<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
<header>
  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-light fixed-top mask-custom shadow-0">
    <div class="container">
      <a class="navbar-brand" href="#!"><span style="color: #5e9693;">CJC</span><span style="color: #fff;">Classes</span></a>
      <button class="navbar-toggler" type="button" data-mdb-toggle="collapse"
        data-mdb-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
        aria-label="Toggle navigation">
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto">
          
          
          <li class="nav-item">
            <a class="nav-link" href="#!" routerLink="signup">Register</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#!" routerLink="table">Table</a>
          </li>
          
        </ul>
        <ul class="navbar-nav d-flex flex-row">
          <li class="nav-item me-3 me-lg-0">
            <a class="nav-link" href="#!">
              <i class="fa-brands fa-youtube" style="color: aliceblue;"></i>
            </a>
          </li>
          <li class="nav-item me-3 me-lg-0">
            <a class="nav-link" href="#!">
              <i class="fab fa-twitter" style="color: aliceblue;"></i>
            </a>
          </li>
          <li class="nav-item me-3 me-lg-0">
            <a class="nav-link" href="#!">
              <i class="fab fa-instagram" style="color: aliceblue;"></i>
              
            </a>
          </li>
        </ul>
      </div>
    </div>
    
  </nav>
  <!-- Navbar -->
  

  <!--Section: Design Block-->
   
  
</header>
<router-outlet></router-outlet>